/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

a:nth-of-type(.buy-now){
    color: var(--drop-dark);
}

section{
    padding-top: 2rem;
}
/* #endregion common */

/* #region color palette */
:root{
    --drop-light: #ffffff;
    --drop-dark: #000000;
    --drop-primary: #1b1c7f;
    --drop-lighter: #b4d0e7;
    --drop-btn: #0061ff;
    --drop-designit: #a2d39b;
    --drop-asu: #61082b;
    --drop-uf: #0093ce;
    --drop-topps: #ff1c1c;
    --drop-bycicle: #d5001f;
    --drop-planet: #0d2481;
    --drop-hearst: #b4d0e7;
    --drop-clear-channel: #ffd830;
}

/* #endregion color palette */

/* #region utilities */
.debug{
    #app-header{
        background-color: lightcyan;

        .left-menu{
            background-color: lightcoral;
            width: 50%;
        }

        .right-menu{
            background-color: burlywood;
            width: 50%;
        }
    }

    section{
        background-color: lightgrey;

        .container{
            background-color: yellowgreen;
        
        }
        
        

        .col-4{
            background-color: red;
           
        }

        .col-8{
            background-color: black;
           
        }
    }

    .container-sm{
        background-color: blue;
    }
}

.container{
    width: 70%;
    margin: auto;
    padding: 2rem 0rem;
}

.container-sm{
    width: 60%;
    margin: auto;
    padding: 2rem 0rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-12{
    width: 100%;
}

.btn{
    color: var(--drop-light);
    background-color: var(--drop-btn);
    padding: .5rem;
}

.pt-2rem{
    padding-top: 2rem;
}
/* #endregion utilities */

/* #region header */
#app-header{
    display: flex;
    align-items: center;
    
    .left-menu, .right-menu{
        width: 50%;
        font-size: .65rem;
        margin: 1rem;
        
        img{
            width: 4.5rem;
            vertical-align: middle;
        }

        a{
            text-decoration: none;
        }

        a:not(.btn){
            padding: 1rem;
        }
    }

    .right-menu{
        text-align: end;
    }
}
/* #endregion header */

/* #region main */
#jumbotron{
    color: var(--drop-dark);
    background-color: var(--drop-lighter);
    
    h1{
        font-size: 3.3rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .col-4{

        p{
            padding-bottom: 2.5rem;
        }

        p:last-child{
            padding-top: 2rem;
        }

        .fa-arrow-down{
            font-size: 2rem;
            padding-top: 2rem;
        }
    }
}

#plan{

    h2{
        padding-bottom: 2rem;
    }

    input{
        margin-right: .25rem;
    }

    .payment-plan{

        span{
            margin-right: 2rem;
        }
    }

    .row{
        margin-top: 2rem;

        .col-4{
            padding: 0 1rem 0 0;
        }
    }

    .col-12{
        margin-top: 5rem;

        .plan-option{
            display: flex;
            justify-content: space-between;
            

            .month{
                display: block;
                color: var(--drop-dark);
                padding-top: 3rem;
            }

            .col-3{
                text-align: right;
            }
        }
    }

    .access-plan{
        padding: .5rem 0rem;
        text-align: center;
        border: 1px solid lightgray;
        font-size: .75rem;
    }

    .plan-option{
        padding: 1rem 1rem 0rem 1rem;
        font-size: .75rem;
        border: 1px solid lightgray;
        height: 100%; 
        
        h3{
            font-size: 1rem;
        }

        .price{
            font-weight: bold;
            display: block;
            padding: 1rem 0rem;
        }

        .month{
            color: gray;
        }

        .specific-info{

            .id{
                padding-top: 3rem;
            }

            .share{
                margin-bottom: 2rem;
            }

            span{
                display: block;
                padding-bottom: 1rem;
            }

            .btn{
                padding: .5rem;
                text-decoration: none;
            }

            .buy-now{
                margin-top: 2rem;   
            }
        }

        hr{
            width: 25%;
            margin-top: 1rem;

        }

        .main-info{
            margin-top: 2rem;

            .fa-check{
                color: var(--drop-btn);
            }

            .checked-info{
                margin-top: 1rem;
            }
        }
    }
    
}
/* #endregion main */
