/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--drop-dark);
}
/* #endregion common */

/* #region color palette */
root:{
    --drop-light: #ffffff;
    --drop-dark: #000000;
    --drop-lighter: #b4d0e7;
    --drop-btn: #0061ff;
    --drop-designit: #a2d39b;
    --drop-asu: #61082b;
    --drop-uf: #0093ce;
    --drop-topps: #ff1c1c;
    --drop-bycicle: #d5001f;
    --drop-planet: #0d2481;
    --drop-hearst: #b4d0e7;
    --drop-clear-channel: #ffd830;
}

/* #endregion color palette */

/* #region utilities */
.debug{
    #app-header{
        background-color: lightcyan;
        height: 50px;

        .left-menu{
            background-color: lightcoral;
            width: 50%;
        }

        .right-menu{
            background-color: burlywood;
            width: 50%;
        }
    }
       

}
/* #endregion utilities */

/* #region header */
#app-header{
    display: flex;
    align-items: center;
    padding: 1rem;

    .left-menu, .right-menu{
        width: 50%;
        font-size: .65rem;
        
        img{
            width: 4.5rem;
            vertical-align: middle;
        }

        a{
            padding: 1rem;
        }
    }

    .right-menu{
        text-align: end;

        .btn{
            background-color: var(--drop-btn);
        }
    }
}


/* #endregion header */
